.App {
  /* text-align: center; */
  min-height: 100%;
  position: relative;
}

.app-body {
  padding-bottom: 66px;
}

#root,
html,
body {
  height: 100%;
}

/********** FONTS **********/
@media only screen and (max-width: 767px) {
  .nav-title {
    font-size: 15px;
  }

  .title-text {
    font-size: 15px;
  }

  .text {
    font-size: 10px;
  }
}
/********** END FONTS **********/

.Contact,
.Define,
.Home,
.Word,
.Login {
  text-align: center;
}

/********** NAV **********/
.nav-title {
  color: white;
  font-size: 24px;
  cursor: pointer;
  float: left;
  font-family: "Mplus 1p" sans-serif;
}

.nav-bar .menu {
  top: -20px;
}

.menu-items > button > div {
  position: relative;
  top: 4px;
}

.search-input {
  border: 1px solid #00abc0;
}

.search-input:focus {
  border: 1px solid #00869a;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  /* box-shadow: 0px 0px 2px 1px #e8fcff; */
}

.search-droplist-item.highlighted,
.search-droplist-item:hover {
  background-color: #00abc0;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-droplist-item.highlighted .search-droplist-item-defition,
.search-droplist-item:hover .search-droplist-item-defition {
  color: white !important;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@media only screen and (min-width: 1025px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {
  .nav-title {
    font-size: 20px;
  }

  .nav-bar {
    height: 112px;
    padding-left: 10px !important;
    padding-right: 12px !important;
  }

  .nav-bar.logged-in .define-button {
    margin-right: 10px;
  }

  .menu-items {
    width: 21px;
  }

  .menu-items > button {
    padding: 0 !important;
    width: 21px !important;
  }

  .search-bar-container {
    width: 100%;
    margin: auto !important;
  }

  .search-bar-container > span {
    width: 100% !important;
    line-height: normal;
    display: flex;
  }

  .search-input {
    /* width: calc(100% - 14px) !important; */
    margin: 0 !important;
    flex: 1;
  }

  .search-droplist-container {
    left: 0px !important;
    top: 40px !important;
    /* width: calc(100% + 3px) !important; **/
    width: calc(100% - 2px) !important;
  }
}
/********** END NAV ***********/

.background-image-gradient {
  /* background: linear-gradient(45deg, rgba(255, 64, 129, 0.5) 10%, #2cb5e8 75%), no-repeat; */
  background: linear-gradient(45deg, #2cb5e8 10%, rgba(255, 64, 129, 0.5) 75%), no-repeat;

  opacity: 0.1;
  position: fixed;
  left: -10px;
  top: -70vh;
  width: 105%;
  height: 180vh;
  z-index: -2;
}

.share-button {
  opacity: 0.5
}

.share-button:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.link {
  color: rgb(0, 188, 212);
  text-decoration: underline;
  transition: color 0.2s ease;
  user-select: none; /* Standard */
}

.link:hover {
  cursor: pointer;
  color: #106c8f;
}

.link.no-underline {
  text-decoration: none;
}

.link.no-color {
  color: gray;
}

.link.no-color:hover {
  color: lightgray;
}

.comment .message,
.like .message,
.dislike .message {
  text-decoration: underline;
}

.comment-button,
.like-button,
.dislike-button {
  color: gray;
  transition: color 0.2s ease;
}

.comment-button:hover,
.like-button:hover,
.dislike-button:hover {
  cursor: pointer;
  color: black;
}

.like {
  margin-right: 10px;
  color: black;
  user-select: none; /* Standard */
}

.comment {
  margin-left: 10px;
  user-select: none; /* Standard */
}

.dislike {
  user-select: none; /* Standard */
}

.kep-login-facebook {
  text-transform: none !important;
  border-radius: 2px !important;
  margin-top: 10px;
}
